body {
    background: rgb(80,9,117);
   background: -moz-linear-gradient(71deg, rgba(80,9,117,1) 0%, rgba(177,53,166,1) 47%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(71deg, rgba(80,9,117,1) 0%, rgba(177,53,166,1) 47%, rgba(0,212,255,1) 100%);
    background: linear-gradient(71deg, rgba(80,9,117,1) 0%, rgba(177,53,166,1) 47%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#500975",endColorstr="#00d4ff",GradientType=1);
     font-family: 'Kaushan Script', cursive;
     size: 21px;
     color: #48235b;
     scroll-behavior: smooth;
     margin: 0;
}

.testtext {
  color:blue;
}

type1 {
    margin-top: 25px;
}

.cursor {
    width: 20px;
    height: 20px;
    border: 1px solid teal;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
}

cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 4px solid teal;
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2;
}
 @keyframes cursorAnim {
    from {
        transform: scale(1);
    } to {
        transform: scale(.7);
    }
}
@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    } 
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid plum;
}

.snow {
    position: absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  
  .snow .svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  #snow-top-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 22.5s infinite linear;
  }

  #snow-middle1-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 27s infinite linear;
  }
  #snow-middle2-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 45s infinite linear;
  }
  #snow-middle3-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 56s infinite linear;
  }

  #snow-bottom-layer {
    will-change: transform;
    transform: translateY(-768px);
    animation: fall 75s infinite linear;
  }
  
  @keyframes fall {
    
    100% {
      transform: translateY(0);
    }
    
  }